{#
/**
 * @file
 * Default theme implementation for a entity(comment and linkback) notification.
 *
 * Available variables:
 * - comment_link: The link to comment.
 * - comment: The comment entity.
 * - comment_body: The comment body.
 * - content_link: The commented entity link
 *
 * @see template_preprocess_notificate_insert()
 *
 * @ingroup themeable
 */
#}
New comment: {{ comment_link }} in {{ content_link }}. Please review it.
